@media only screen and (min-width: 600px) {
    .vehicle-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-top: 150px;
    }
    .home{
        background-image: url("../../images/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
  }
@media only screen and (min-width: 768px) {
    .vehicle-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin-top: 150px;
    }
    .home{
        background-image: url("../../images/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
  }
  @media only screen and (max-width: 600px) {
    .vehicle-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
    }
    .home{
        background-image: url("../../images/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
  }